:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cloud: #f4f4fd;
  --color-width: #ffffff;
  --color-corn-flower: #e7e9fc;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* -------------header------------ */
.header {
}
.header-logo {
  color: var(--color-iris);
}
.header-logo-studio {
  color: var(--color-navy-blue);
}
.header-list {
}
.header-link {
  color: var(--color-navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.header-link-mail {
  color: var(--color-slate);
}
.header-link-mail:hover,
.header-link-mail:focus {
  color: var(--color-ocean);
}
.header-link-tel {
  color: var(--color-slate);
}
.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--color-ocean);
}
/*-----------------main-----------*/
.section-main {
  background-color: var(--color-navy-blue);
}
.caption-one {
  color: var(--color-width);
}
.button {
  background-color: var(--color-iris);
  color: var(--color-width);
  width: 169px;
  height: 56px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--color-ocean);
}
/*---------------section-first----*/
.section-first {
}
.caption-two {
  color: var(--color-navy-blue);
}
.caption-three {
  color: var(--color-navy-blue);
}
.paragraf {
  color: var(--color-slate);
}
/*------section-what----*/
.section-what {
}
/*-----------section-our----*/
.section-our {
  background-color: var(--color-cloud);
}

/*------section-footer-----*/
.section-footer {
  background-color: var(--color-navy-blue);
}
.header-logo-footer {
  color: var(--color-cloud);
}
.paragraf-footer {
  color: var(--color-corn-flower);
}
/*-------button-portfolio----*/
.button-portfolio {
  background-color: var(--color-cloud);
  color: var(--color-iris);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--color-ocean);
  color: var(--color-width);
  cursor: pointer;
}
/*-----------portfolio-card----*/
.portfolio-card {
}
